*.[oa]
*~
*.out
*.ccnb
.*.swp
!/csrc/ccnd/fortunes.ccnb
!/csrc/ccnd/minsuffix.ccnb
/doc/*.html
/doc/technical/*.html
/doc/technical/index.txt

.cproject
.project
.settings/
/csrc/conf.mk

/bin/
/lib/
/include
/include/
/javasrc/build/
/javasrc/bin/

/apps/HttpProxy/HttpProxy
/apps/HttpProxy/NetFetch
/apps/ccnChat/build/
/apps/ccnChat/ccnChat.jar
/apps/ccnFileProxy/build/
/apps/ccnFileProxy/ccnFileProxy.jar
/csrc/ccnd/ccnd
/csrc/ccnd/ccndsmoketest
/csrc/ccnr/ccnr
/csrc/cmd/ccn_ccnbtoxml
/csrc/cmd/ccn_fetch_test
/csrc/cmd/ccn_splitccnb
/csrc/cmd/ccn_xmltoccnb
/csrc/cmd/ccnbasicconfig
/csrc/cmd/ccnbuzz
/csrc/cmd/ccnbx
/csrc/cmd/ccnc
/csrc/cmd/ccncat
/csrc/cmd/ccncatchunks
/csrc/cmd/ccncatchunks2
/csrc/cmd/ccndelphi
/csrc/cmd/ccndumpnames
/csrc/cmd/ccndumppcap
/csrc/cmd/ccnfilewatch
/csrc/cmd/ccnguestprefix
/csrc/cmd/ccnhexdumpdata
/csrc/cmd/ccninitkeystore
/csrc/cmd/ccnlibtest
/csrc/cmd/ccnls
/csrc/cmd/ccnnamelist
/csrc/cmd/ccnpeek
/csrc/cmd/ccnpoke
/csrc/cmd/ccnrm
/csrc/cmd/ccnsendchunks
/csrc/cmd/ccnseqwriter
/csrc/cmd/ccnsimplecat
/csrc/cmd/ccnslurp
/csrc/cmd/ccnsnew
/csrc/cmd/ccnsyncslice
/csrc/cmd/ccnsyncwatch
/csrc/cmd/ccntraffic
/csrc/cmd/dataresponsetest
/csrc/exttests/testdriver
/csrc/lib/basicparsetest
/csrc/lib/ccn_verifysig
/csrc/lib/ccnbtreetest
/csrc/lib/encodedecodetest
/csrc/lib/hashtbtest
/csrc/lib/signbenchtest
/csrc/lib/skel_decode_test
/csrc/libexec/ccndc
/csrc/libexec/udplink
/csrc/sync/SyncTest
/csrc/tests/testdriver
/csrc/util/ccnd-autoconfig
/csrc/util/ccnd-publish-local-info
/csrc/util/ccndlogging
/csrc/util/ccndstart
/csrc/util/ccndstatus
/csrc/util/ccndstop
/csrc/util/ccnget
/csrc/util/ccnput
/csrc/util/ccnrpolicyedit
/csrc/util/ccntestloop
/javasrc/ccn.jar

/csrc/exttests/FAILING
/csrc/exttests/SKIPPED
/csrc/exttests/STATUS/
/csrc/exttests/after.txt
/csrc/exttests/before.txt
/csrc/exttests/*.err
/csrc/exttests/*.log
/csrc/exttests/staged.5000000/
/csrc/exttests/stats*.txt
/csrc/exttests/testrepo2/
/csrc/exttests/testrepoA/
/csrc/exttests/*.html
/csrc/lib/test.keystore
/csrc/tests/FAILING
/csrc/tests/SKIPPED
/csrc/tests/STATUS/
/csrc/tests/*.html
/javasrc/testout/
/schema/validation/*.dtd
/schema/validation/*.xsd
/schema/validation/ccn-bad06.xml
/schema/validation/ccn-bad09.xml
/schema/validation/ccn-bad11.xml
/schema/validation/ccn-schemabad01.xml
/schema/validation/ccn-schemabad02.xml
/schema/validation/ccn-schemabad04.xml
/schema/validation/ccn-schemabad10.xml
/schema/validation/ccn-schemabad12.xml
/schema/validation/repository-bad01.xml
/schema/validation/repository-schemabad01.xml
/schema/validation/security-schemabad01.xml
/schema/validation/sync-bad00.xml
/schema/validation/sync-schemabad25.xml

