*.[oa]
*~
bin/
lib/
include
include/
javasrc/build/
javasrc/bin/

apps/HttpProxy/HttpProxy
apps/HttpProxy/NetFetch
apps/ccnChat/build/
apps/ccnChat/ccnChat.jar
apps/ccnFileProxy/build/
apps/ccnFileProxy/ccnFileProxy.jar
csrc/ccnd/ccnd
csrc/ccnd/ccndsmoketest
csrc/ccnr/ccnr
csrc/cmd/ccn_ccnbtoxml
csrc/cmd/ccn_fetch_test
csrc/cmd/ccn_splitccnb
csrc/cmd/ccn_xmltoccnb
csrc/cmd/ccnbasicconfig
csrc/cmd/ccnbuzz
csrc/cmd/ccnbx
csrc/cmd/ccnc
csrc/cmd/ccncat
csrc/cmd/ccncatchunks
csrc/cmd/ccncatchunks2
csrc/cmd/ccndelphi
csrc/cmd/ccndumpnames
csrc/cmd/ccndumppcap
csrc/cmd/ccnfilewatch
csrc/cmd/ccnguestprefix
csrc/cmd/ccnhexdumpdata
csrc/cmd/ccninitkeystore
csrc/cmd/ccnlibtest
csrc/cmd/ccnls
csrc/cmd/ccnnamelist
csrc/cmd/ccnpeek
csrc/cmd/ccnpoke
csrc/cmd/ccnrm
csrc/cmd/ccnsendchunks
csrc/cmd/ccnseqwriter
csrc/cmd/ccnsimplecat
csrc/cmd/ccnslurp
csrc/cmd/ccnsnew
csrc/cmd/ccnsyncslice
csrc/cmd/ccnsyncwatch
csrc/cmd/ccntraffic
csrc/cmd/dataresponsetest
csrc/exttests/testdriver
csrc/libexec/ccndc
csrc/libexec/udplink
csrc/sync/SyncTest
csrc/tests/testdriver
csrc/util/ccnd-autoconfig
csrc/util/ccnd-publish-local-info
csrc/util/ccndlogging
csrc/util/ccndstart
csrc/util/ccndstatus
csrc/util/ccndstop
csrc/util/ccnget
csrc/util/ccnput
csrc/util/ccnrpolicyedit
csrc/util/ccntestloop
javasrc/ccn.jar

